@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    font-weight: 900;
  }
  h2 {
    font-weight: 700;
  }
}

@layer utilities {
  .layout {
    @apply sm:w-full max-w-[86rem] w-11/12 mx-auto;
  }
  .thin {
    @apply max-w-[86rem] w-11/12 mx-auto;
  }
  .small {
    @apply sm:w-9/12;
  }
  .blog {
    @apply md:w-8/12 xl:w-5/12 w-11/12;
  }
}
